<h1>Add new book</h1>
<%= form_tag(controller: "book", action: "create", method: "post") do %>

    <%= label_tag(:title, "Title") %>
    <%= text_field_tag(:title) %><br>
    <%= label_tag(:price, "Price") %>
    <%= text_field_tag(:price) %><br>
    <%= label_tag(:subject_id, "Subject") %>
    <%= collection_select(:book,:subject_id,@subjects,:id,:name,{:prompt => false}) %><br>
    <%= label_tag(:description, "Description") %><br>
    <%= text_area_tag(:description) %><br>
    <%= submit_tag( "Create") %>

<%end %>
<%= link_to 'Back', {:action => 'list'} %>